<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style.css">

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <style>

      table{

        background-color: #FE6B5E;
      }
    </style>
</head>
<body class = "bg-warning">
  
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style = "background-color: #3D3856;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Sleepify</h1></a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 pull-right">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tracker">Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blogs">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#music">Music</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <section id="home">

        <div class = "container">
        
          <div class = "heading-home">
              
            <div class="home-content">
                <h1 class="heading-home">Welcome to Sleepify!</h1>
            </div>
            
            <div class="home-content">
              <div class="home-sec-content">
                  <p class="p-primary">This web app will fulfill the user's needs in tracking their sleeping patterns, including duration and timings.</p>
                  <form class = "buttons-home" action="/user/<%= action %>" method="post">
              
                  <button class = "btn text-light" style = "background-color: #3D3856;" type="submit" formaction="/user/newEntry-route/<%= action %>">+ New Entry</button>
                      
                  </form>
              </div>
                <img class = "img-fluid" src = "../sleep.png" width="40%">
            </div> 
          </div>
        </section>
        
    <hr>

    <div id = "tracker" class = "heading-home pt-5">
        
      <p>Tracker</p>
    </div>

    <p id = "stats">Sleep Duration</p>

      <section id = "graph">

        <div class="chart">

          <canvas id = "myCharts"></canvas>
        </div>
      </section>
      
      <p id = "stats">Sleep Stats</p>
      <section id = "table">
        
        <table class="table table-borderless w-auto">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Sleep time</th>
              <th scope="col">WakeUp time</th>
              <th scope="col">Sleep duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Monday</th>

              <div class="sleepContent">
              <td>00:00</td>
              <td>06:00</td>
              <td>5 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>

              <div class="sleepContent">
              <td>00:00</td>
              <td>05:30</td>
              <td>5.5 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>

              <div class="sleepContent">
                <td>23:00</td>
                <td>6:00</td>
                <td>7 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Thursday</th>

              <div class="sleepContent">
                <td>01:00</td>
                <td>7:00</td>
                <td>6 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Friday</th>

              <div class="sleepContent">
                <td>23:00</td>
                <td>07:00</td>
                <td>8 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Saturday</th>

              <div class="sleepContent">
                <td>01:00</td>
                <td>06:00</td>
                <td>6 HRS</td>
              </div>
            </tr>
            <tr>
              <th scope="row">Sunday</th>

              <div class="sleepContent">
                <td>00:00</td>
                <td>07:00</td>
                <td>7 HRS</td>
              </div>
            </tr>
          </tbody>
        </table>
      </section>
      <hr>
      <section id="about">

        <div class = "heading-home">
            
          <p>About</p>
          
        </div>
        
        <div class = "about-content">
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad amet hic, omnis maxime quis eos? Accusantium tempore quia, est aperiam molestias amet blanditiis doloribus. Repellat perspiciatis accusantium quisquam, alias, tenetur perferendis laudantium dolore facere aliquid hic ipsum ab reiciendis odit praesentium ullam eos labore neque quibusdam placeat cum consequatur! Culpa?</p>
        </div>
    </section>
    
    <hr>

    <section id="blogs" class="pt-5 pb-5">

        <div class = "heading-home">
            
            <p>Blogs</p>
            
        </div>

        <div class="container">
          <div class="row">
                <div class="col-6">
                  <h3 class="mb-3">Blogs</h3>
                </div>
                <div class="col-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
                <div class="col-12">
                  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
          
                          <% for(let i=0; i < 3; i++) { %>

                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="img-fluid" alt="100%x280" src="https://source.unsplash.com/1600x900/?sleep">
                                  <div class="card-body">
                                    <h4 class="card-title"><%= blogs[i].title %> </h4>
                                    <p class="card-text">
                                      <%= blogs[i].subcontent %>...
                                      <a href="/user/blog/<%= blogs[i]._id %>" id="submit" onclick="myFunction()"> Read More </a> 
                                    </p>
                                  </div>
                                </div>
                              </div>

                          <% } %>
                          
                        </div>
                      </div>
                      
                      
                      <div class="carousel-item">
                        <div class="row">
          
                          <% for(let i=0; i < 2; i++) { %>

                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                  <div class="card-body">
                                    <h4 class="card-title"><%= blogs[i].title %> </h4>
                                    <p class="card-text">
                                      <%= blogs[i].subcontent %>...
                                      <a href="/user/blog/<%= blogs[i]._id %>" id="submit" onclick="myFunction()"> Read More </a> 
                                    </p>
                                  </div>
                                </div>
                              </div>

                          <% } %>
                            
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="card-body" style="align-items: center;">
                                <form class = "buttons-home" action="/user/<%= action %>" method="post">
                                  <p class="card-text">For More Blogs </p>
                                  <button class = "btn text-light" style = "background-color: #3D3856;" type="submit" formaction="/user/blogs-route/<%= action %>">Click Here</button> 
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                                    
                      
                  </div>
                </div>
            </div>
          </div>
        </div>
    </section> 

    <hr>

      <section id="music" class="pt-5 pb-5">
        
        <div class = "heading-home">
            
          <p>Music</p>
          
        </div>
        
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3">Music</h3>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid music-img" alt="100%x280" src="../images/birds.jpg" id="birds">
                    <!-- <audio>
                      <source src="../public/Audio/birds.mp3">
                      Your browser does not support the audio tag.
                    </audio> -->
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid music-img" alt="100%x280" src="../images/raindrops.jpg" id="raindrops">
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid music-img" alt="100%x280" src="../images/heavy-rain.jpg" id="heavy-rain">
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid music-img" alt="100%x280" src="../images/nature.jpg" id="nature">
                  </div>
                </div>
                
              </div>
            </div>
            
            
            <div class="carousel-item">
              <div class="row">
                                
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid music-img" alt="100%x280" src="../images/morning.jpg" id="morning">
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                  </div>
                </div>

              </div>
            </div>
            
            
            <div class="carousel-item">
              <div class="row">
                           <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">              
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">              
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">              
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">              
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <hr>

    <script>

      // Chart.defaults.global.defaultFontSize = 18;
  
      let ctx = document.getElementById("myCharts").getContext("2d");
  
      const gradient = ctx.createLinearGradient(0, 0, 0, 400);
      gradient.addColorStop(0, 'rgb(255, 27, 76)');
      gradient.addColorStop(1, 'rgba(252, 121, 150, 0.6)');
  
      let delayed;
      Chart.defaults.font.size = 14;

      const chart = new Chart(ctx, {
  
        type: 'line',
  
        data:{
  
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
  
          datasets:[{
  
            label:"Sleep hours",

            // data will be taken from the db
            data:[5, 5.5, 7, 6, 8, 6, 7],
  
            backgroundColor: gradient,
  
            // borderColor: "#fff"
  
            pointBackgroundColor: '#b9b2e0',
            fill: true,
            tension: 0.35
          }],
        },
        options:{
  
          animation: {
  
            onComplete: () => {
              delayed = true;
            },
            delay: (context) => {
              let delay = 0;
              if (context.type === 'data' && context.mode === 'default' && !delayed) {
                delay = context.dataIndex * 300 + context.datasetIndex * 100;
              }
            return delay;
            },
          },
          responsive: true,
          radius: 3,
          hoverRadius: 8,
          hitRadius: 30,

          plugins:{

            title:{
    
              display: false,
              text: "Sleep Duration",
              // position: 'left',
              color: "black",
              font:{

                size: 20,
                family: "sans-serif",
                weight: 10
              }
            },
            legend:{
    
              display: false
            },
            layout:{
    
              padding:{
    
                // left: 50
              }
            }
          },
        }
      })
    </script>
    <script>
      function myFunction() {
          document.getElementById("submit").submit();
      } 

      const musicImgs = document.querySelectorAll(".music-img");
      for(let i=0; musicImgs.length; i++) {
        
        musicImgs[i].addEventListener("click", () => {

          var id = musicImgs[i].getAttribute("id");
          playMusic(id);

          musicImgs[i].addEventListener("click", () => {
            musicImgs[i].classList.toggle("active-music");
          })
        })

      }

      function playMusic(id) {

        switch (id) {

          case "birds":
            var audio = new Audio("../Audio/birds.mp3");
            audio.play();
            break;

          case "raindrops":
            var audio = new Audio("../Audio/rainDrops.mp3");
            audio.play();
            break;

          case "heavy-rain":
            var audio = new Audio("../Audio/Heavy-Rain.mp3");
            audio.play();
            break;

          case "nature":
            var audio = new Audio("../Audio/nature_melody.mp3");
            audio.play();
            break;

          case "morning":
            var audio = new Audio("../Audio/morning-surf.mp3");
            audio.play();
            break;

        
          default:
            break;
        }

      }

  </script>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>     
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html> 

